# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# mandatumkalkulacio output .csv
mandatum_kalkulacio_eredmeny.csv

# terkep mappa
terkep/

# diagram mappa
diagramok/